# rick's voron 0.1
# This file contains common pin mappings for the BIGTREETECH SKR
# MINI 2.0. To use this config, the firmware should be compiled for 
# the STM32F103 with a "28KiB bootloader". Also select "enable extra 
# low-level configuration options" and configure "GPIO pins to set 
# at micro-controller startup" to "!PA14".

# The "make flash" command does not work on the SKR mini. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini with that SD card.

## Voron Design VORON 0.1 SKR Mini E3 V2 config


[include mainsail.cfg]

######################################################################
# connected mcu
#  Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_39FFD6054D4D313736711243-if00
restart_method: command

[printer]
kinematics: corexy
max_velocity: 400
max_accel: 4000
max_z_velocity: 15
max_z_accel: 45
square_corner_velocity: 6.0

[idle_timeout]
timeout: 1800

[force_move]
enable_force_move: True


[include xyz_steppers.cfg]
[include extruder.cfg]


[include fans.cfg]
[include macros.cfg]
[include bed_and_gantry.cfg]
[include lcd.cfg]
[include menu_override.cfg]
[include speed_test.cfg]
[exclude_object]

#####################################################################
#	Thermistor definitions
#####################################################################

[thermistor Trianglelab NTC100K B3950]
## values calibrated against a PT100 reference
temperature1: 25.0
resistance1: 103180.0
temperature2: 150.0
resistance2: 1366.2
temperature3: 250.0
resistance3: 168.6





######################################################################
# extra temperature sensors

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 20
max_temp: 100

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 20
max_temp: 100


#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 59.899
#*# pid_ki = 2.792
#*# pid_kd = 321.207
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 26.774
#*# pid_ki = 1.594
#*# pid_kd = 112.452
#*#
#*# [stepper_z]
#*# position_endstop = -0.100
